
 
  <div class="container">
    <%= bootstrap_form_for(@post) do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :body %>
    <%= f.select :published, [[true, "Yes"], [false, "No"]] %>
    <%= f.submit "Edit Post" %>
    <% end %>
  </div>
